<!--   登录页面-->
<!--声明 Thymeleaf命名空间
    声明安全命名空间-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/thymeleaf-extras-springsecurity">
    <head >
        <title>Login Page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/resources/static/style.css}"/>
    </head>
    <body>
        <h3> Login with Username and Password </h3>
<div sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="name">someone</span>

</div>


        <p th:text="${msg} "></p>

        <form method="post" action="/login" >
            <table>
                <tr>
                    <td>User:</td>
                    <td> <input name="username" type="text" value="" /> </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td> <input name="password" type="password" /> </td>
                </tr>

                <tr>
                    <td><input id="remember_me" name="remember-me" type="checkbox"/></td>
                    <td><label for="remember_me" class="inline">Remember me</label></td>
                </tr>
                <input type="hidden"  name="${_csrf.parameterName}"   value="${_csrf.token}"/>
                <tr>
                    <td colspan="2">
                        <input name="submit" type="submit" value="Login" />
                        <input name="reset" type="reset" value="Reset" />
                    </td>
                </tr>

            </table>

            <span ></span>



        </form>


     <!--   <a href="spittle/spittles">Spittles</a> |
        <a href="spittle/register">Register</a>-->
    </body>
</html>