<?xml version="1.0" encoding="UTF-8"?>
<!--
  Created by IntelliJ IDEA.
  User: ShenShuaihu
  Date: 2019/3/1
  Time: 9:59
为registerForm
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spittle</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/static/style.css}"></link>
</head>
    <h1>Register</h1>


    <!-- 展示错误 -->
    <form method="post"  th:action="@{/spittle/register}" >

       <!-- <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect</li>
            </ul>
        </div>-->


        <label>
            First Name
        </label>

        <input type="text" th:name="firstName"/> <br/>

        <label>
            Last Name
        </label>
        <input type="text" th:name="lastName"/> <br/>
        <label>
            E-Mail
        </label>
        <input type="text" th:name="email"/> <br/>

        Username: <input name="username" type="text"/> <br/>
        Password: <input name="password" type="password"/> <br/>

        <input type="submit" name="register"/>

    </form>


</html>