<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spitter</title>
    <link rel="stylesheet" type="text/css" 
          th:href="@{/resources/static/style.css}"></link>
  </head>
  <body>
    <div id="header" th:include="page :: header"></div>
    <a href="/">
      <img src="/resources/static/8/spitter_logo_50.png"  border="0" /></a>

    <div id="content">

      <h1>跨域请求</h1>
      <form method="post" action="http://www.spittr.com/spittle/register">
          <input type="hidden" name="message" value=" I`m stupid!" />
          <input type="submit" value="Click here to win a new car!" />
      </form>
      <h1>Register</h1>

        <form method="POST"  th:action="@{/spittle/register}"  th:object="${spitter}">

        <label th:class="${#fields.hasErrors('firstName')}? 'error'">First Name</label>:
          <input type="text" th:field="*{firstName}"
                 th:class="${#fields.hasErrors('firstName')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('lastName')}? 'error'">Last Name</label>:
          <input type="text" th:field="*{lastName}"
                 th:class="${#fields.hasErrors('lastName')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('email')}? 'error'">Email</label>:
          <input type="text" th:field="*{email}"
                 th:class="${#fields.hasErrors('email')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('username')}? 'error'">Username</label>:
          <input type="text" th:field="*{username}"
                 th:class="${#fields.hasErrors('username')}? 'error'" /><br/>

        <label th:class="${#fields.hasErrors('password')}? 'error'">Password</label>:
          <input type="password" th:field="*{password}"
                 th:class="${#fields.hasErrors('password')}? 'error'" /><br/>

        <label>Profile Picture</label>:
          <input type="file"
                 name="profilePicture"
                 accept="/resources/static/image/jpeg,/resources/static/image/png,/resources/static/image/gif" /><br/>

        <input type="submit" value="Register" />
      </form>
    </div>
    <div id="footer" th:include="page :: copy"></div>
  </body>
</html>
